* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
  font-size: 14px;
}

body {
  background-image: url("/Assets/bg.png");
  color: #CFCFCF;
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 20px;
}

#game-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
  max-width: 100%;
  overflow: auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  background: #212121;
  border: 2px solid #CFCFCF;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background: #212121;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

#next {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(4, 30px);
  background: #212121;
  border: 2px solid #CFCFCF;
}

#score {
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #CFCFCF;
  align-self: center;
  width: 120px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
